body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, palevioletred);
    font-size: 2.5vh;
}


@media only screen 
and (min-device-width: 1441px)
{
    
    .aboutContainer {
        padding-top: 2em;
        padding-right: 1em;
        padding-left: 1em;
    }
    
    .aboutContainer{
        padding: 3em 3em 3em 3em;
    }
    
    .aboutPic {
        padding: 1em;
        max-width: 100%;
    }

    .aboutDescription {
        font-size: 1.5em;
    }

    .navbar-toggler {
        background-color: slategray;
        border: solid 1px lightsalmon;
        width: 4vw;
        height: 3vw;
    }

    .navbar-toggler-icon {
        width: 3vw;
        height: 2vw;
    }
    
    .projectContainer {
        padding: 3em 3em 3em 3em;
    }
    
    .projectPic {
        max-width: 100%;
        padding: 1em;
    }
    
    .projectTitle {
        font-size: 4vh;
    }
    
    .contactContainer {
        padding: 3em 3em 6em 3em;
        width: 100%;
    }
    
    .contactImage {
        margin-right: 20%;
        width: 75%;
    }
    
    .gitHubIcon {
        height: 4%;
        width: 12%;
    }
    .linkedInIcon {
        height: 4%;
        width: 12%;
    }
    .emailIcon {
        height: 4%;
        width: 12%;
    }
    
    #contactIcons {
        display: block;
        margin-left: 25%;
    }


    .header {
        background-image: url(images/buzz-andersen-145254-unsplash.jpg);
        height: 100vh;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .header:after {
        content: '';
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        opacity: .65;
        z-index: 2;
    }
    .header .v-middle {
        z-index: 11;
    }
    .header .caption {
        text-align: center;
        opacity: 0.95;
        color: black;
        margin: 18% 18% 18% 31%;
    }
    .header .caption h5 {
        font-size: 3em;
        font-weight: 900;
    }
    .header .caption h1 {
        font-size: 2.5em;
        font-weight: 500;
    }
}