body {
    font-family: Arial, Helvetica, sans-serif;
}

.aboutContainer {
    padding-right: 3em;
    padding-left: 3em;
}

.aboutDescription {
    padding: 3em;
    font-size: 1.1em;
}

.aboutPic {
    padding: 3em;
}

.projectSection {
    padding-top: 2em;
}

.projectPic {
    width: 100%;
    height: 100%;
    padding-top: 2em;
}

.contactContainer {
    padding: 6em 3em 6em 3em;
    width: 100%;
}

.contactImage {
    margin-left: 30%;
    margin-right: 0;
}

.gitHubIcon {
    height: 4%;
    width: 12%;
}
.linkedInIcon {
    height: 4%;
    width: 12%;
}
.emailIcon {
    height: 4%;
    width: 12%;
}

#contactIcons {
    display: block;
    justify-content: center;
}

/* Landing */

.landing {
    position: relative;
    text-align: center;
    color: white;
}

.text-block {
    position: absolute;
    height: 30%;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.55;
    background-color: black;
    color: antiquewhite;
    padding: 1em 1em 1em 1em;
    -webkit-animation: titleColor 3s;
    animation: titleColor 4s infinite alternate;
}

@keyframes titleColor {
    0%   {color: orange;}
      
    20%  {color: yellow;}
      
    40%  {color: yellow;}
      
    60%  {color: orange;}
      
    80%  {color: yellow;}
     
    100% {color: orange;}
}

/* Ticker */

.imageSize {
    display: inline-block;
    height: 6em;
    padding-right: 4em;
}

.tickerContainer {
    height: 7em;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.tickerContainer > div {
    height: 7em;
    width: 8250px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
  }

.ticker {
    padding-left: 100%;
    display: inline-block;
    height: 7em;
    line-height: 7em;
    white-space: nowrap;
    animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }