body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, paleturquoise);
    font-size: 2.5vh;
}


/* Small */
@media only screen 
and (min-device-width: 769px)
and (max-device-width: 1024px) {
    
.aboutContainer {
    padding: 2em 3em 3em 2em;
    margin: 2.5em;
}

#aboutColumn {
    display: flex;
}

.aboutPic {
    max-width: 100vw;
    max-height: 100vh;
    padding: 1em;
}

.aboutDescription {
    max-width: 100vw;
    font-size: 1.2em;
    margin: 0;
}

.navbar-toggler {
    background-color: slategray;
    border: solid 1px lightsalmon;
}

.projectContainer {
    padding: 2em 3em 3em 3em;
    font-size: 1.25em;}

.mememotional-pic {
    max-width: 49%;
    padding: .5em;
}

.use-by-pic {
    max-width: 32%;
    padding: .5em;
}

.contactContainer {
    padding: 2em 3em 3em 3em;
    width: 100%;
    font-size: 1.25em;}

.contactImage {
    margin-right: 0;
    width: 75%;
}

.gitHubIcon {
    height: 4%;
    width: 12%;
}
.linkedInIcon {
    height: 4%;
    width: 12%;
}
.emailIcon {
    height: 4%;
    width: 12%;
}

#contactIcons {
    display: block;
    margin-left: 25%;
}

#navButton {
    font-size: 1.25em;
}

.header {
    background-image: url(images/buzz-andersen-145254-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header:after {
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 2;
}
.header .v-middle {
    z-index: 11;
}
.header .caption {
    text-align: center;
    opacity: .95;
    text-shadow: 1px 0 0 antiquewhite, -1px 0 0 antiquewhite, 0 1px 0 antiquewhite, 0 -1px 0 antiquewhite, .5px .5px antiquewhite, -.5px -.5px 0 antiquewhite, .5px -.5px 0 antiquewhite, -.5px .5px 0 antiquewhite;
    color: black;
    margin: 18% 18% 18% 34%;
}
.header .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .caption h1 {
    font-weight: 200;
}
.header .caption h1 b {
    font-weight: 400;
}
}









/*  Large   */

@media only screen 
and (min-device-width: 1025px)
and (max-device-width: 1440px) {
    
.aboutContainer {
    padding: 3em 3em 3em 3em;
    margin: 2.5em;
}

#aboutColumn {
    display: flex;
}

.aboutPic {
    max-width: 100vw;
    max-height: 100vh;
    padding: 1em;
}

.aboutDescription {
    max-width: 100vw;
    font-size: 1.2em;
    margin: 0;
}

.navbar-toggler {
    background: lightslategray;
    border: solid 1px lightsalmon;
}

.navbar-toggler-icon {
    width: 3vw;
    height: 2vw;
}

.btn {
    width: 10vw;
    height: 8vh;
    font-size: 1.5em;
}

.projectContainer {
    padding: 3em 3em 3em 3em;
    font-size: 1.75em;
}

.mememotional-pic {
    max-width: 49%;
    padding: .5em;
}

.use-by-pic {
    max-width: 32%;
    padding: .5em;
}

.projectTitle {
    font-size: 4vh;
}

.contactContainer {
    padding: 6em 3em 6em 3em;
    width: 100%;
    font-size: 1.75em;
}

.contactImage {
    margin-right: 20%;
    width: 75%;
}

.gitHubIcon {
    height: 4%;
    width: 12%;
}
.linkedInIcon {
    height: 4%;
    width: 12%;
}
.emailIcon {
    height: 4%;
    width: 12%;
}

#contactIcons {
    display: block;
    margin-left: 25%;
}

#navButton {
    font-size: 2.5vh;
}

#meme-otional {
    padding: 2em;
}

.header {
    background-image: url(images/buzz-andersen-145254-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header .v-middle {
    z-index: 11;
}
.header .caption {
    text-align: center;
    opacity: .95;
    text-shadow: 1px 0 0 antiquewhite, -1px 0 0 antiquewhite, 0 1px 0 antiquewhite, 0 -1px 0 antiquewhite, .5px .5px antiquewhite, -.5px -.5px 0 antiquewhite, .5px -.5px 0 antiquewhite, -.5px .5px 0 antiquewhite;
    color: black;
    margin: 18% 18% 18% 34%;
}
.header .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .caption h1 {
    font-weight: 200;
}
.header .caption h1 b {
    font-weight: 400;
}
}