body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, paleturquoise);
}


/* Small */
@media only screen 
and (max-device-width: 320px) {
    
.aboutContainer {
    margin-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
}

#aboutColumn {
    display: block;
}

.aboutPic {
    max-width: 100%;
    padding: 1em;
}

.aboutDescription {
    max-width: 100%;
    font-size: 1.2em;
    margin: 0;
}

.navbar-toggler {
    background-color: slategray;
    border: solid 1px lightsalmon;
}

.projectContainer {
    margin-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
}

.projectSection {
    padding-top: 2em;
}

.mememotional-pic {
    max-width: 100%;
    padding: .5em;
}

.use-by-pic {
    max-width: 100%;
    padding: .5em;
}

.contactContainer {
    padding: 1em;
    width: 100%;
    font-size: 1em;
}

.contactImage {
    width: 100%;
}

.gitHubIcon {
    height: 10%;
    width: 30%;
}
.linkedInIcon {
    height: 10%;
    width: 30%;
}
.emailIcon {
    height: 10%;
    width: 30%;
}

#contactIcons {
    display: block;
}

#meme-otional {
    display: block;
}

#use-by {
    display: block;
}

#about {
    display: block;
}

.header {
    background-image: url(images/buzz-andersen-145254-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header:after {
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 2;
}
.header .v-middle {
    z-index: 11;
}
.header .caption {
    text-align: center;
    opacity: 0.95;
    text-shadow: 1px 0 0 antiquewhite, -1px 0 0 antiquewhite, 0 1px 0 antiquewhite, 0 -1px 0 antiquewhite, .5px .5px antiquewhite, -.5px -.5px 0 antiquewhite, .5px -.5px 0 antiquewhite, -.5px .5px 0 antiquewhite;
    color: black;
    margin: 18% 18% 18% 20%;
}
.header .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .caption h1 {
    font-weight: 200;
}
.header .caption h1 b {
    font-weight: 400;
}
}











/* Medium */

@media only screen 
and (min-device-width: 321px)
and (max-device-width: 375px) {
    
    .aboutContainer {
        margin-top: 2em;
        padding-right: 1em; 
        padding-left: 1em;
    }
    
    #aboutColumn {
        display: block;
    }

    .aboutPic {
        max-width: 100%;
        padding: 1em;
    }
    
    .aboutDescription {
        max-width: 100%;
        font-size: 1.2em;
        margin: 0;
    }

    .navbar-toggler {
        background-color: slategray;
        border: solid 1px lightsalmon;
    }
    
    .projectContainer {
        margin-top: 2em;
        padding-right: 1em;
        padding-left: 1em;
        font-size: 1.5em;
    }
    
    .projectSection {
        padding-top: 2em;
    }
    
    .mememotional-pic {
        max-width: 100%;
        padding: .5em;
    }
    
    .use-by-pic {
        max-width: 100%;
        padding: .5em;
    }
    
    .contactContainer {
        padding: 1em;
        width: 100%;
        font-size: 1em;
    }

.contactImage {
    width: 75%;
}

.gitHubIcon {
    height: 10%;
    width: 30%;
}
.linkedInIcon {
    height: 10%;
    width: 30%;
}
.emailIcon {
    height: 10%;
    width: 30%;
}

.fixed-top {
    margin: 1em;
}

#contactIcons {
    display: block;
}

#meme-otional {
    display: block;
}

#use-by {
    display: block;
}

#about {
    display: block;
}

.header {
    background-image: url(images/buzz-andersen-145254-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header:after {
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 2;
}
.header .v-middle {
    z-index: 11;
}
.header .caption {
    text-align: center;
    opacity: 0.95;
    text-shadow: 1px 0 0 antiquewhite, -1px 0 0 antiquewhite, 0 1px 0 antiquewhite, 0 -1px 0 antiquewhite, .5px .5px antiquewhite, -.5px -.5px 0 antiquewhite, .5px -.5px 0 antiquewhite, -.5px .5px 0 antiquewhite;
    color: black;
    margin: 18% 18% 18% 20%;
}
.header .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .caption h1 {
    font-weight: 200;
}
.header .caption h1 b {
    font-weight: 400;
}
}











/* Large */

@media only screen 
and (min-device-width: 376px)
and (max-device-width: 425px) { 
.aboutContainer {
    margin-top: 2em;
    padding-right: 1em; 
    padding-left: 1em;
}

#aboutColumn {
    display: block;
}

.aboutPic {
    max-width: 100%;
    padding: 1em;
}

.aboutDescription {
    max-width: 100%;
    font-size: 1.2em;
    margin: 0;
}

.navbar-toggler {
    background-color: slategray;
    border: solid 1px lightsalmon;
}

.projectContainer {
    margin-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
}

.projectSection {
    padding-top: 2em;
}

.mememotional-pic {
    max-width: 100%;
    padding: .5em;
}

.use-by-pic {
    max-width: 100%;
    padding: .5em;
}

.contactContainer {
    padding: 1em;
    width: 100%;
    font-size: 1em;
}

.contactImage {
    width: 75%;
}

.gitHubIcon {
    height: 10%;
    width: 30%;
}
.linkedInIcon {
    height: 10%;
    width: 30%;
}
.emailIcon {
    height: 10%;
    width: 30%;
}

#contactIcons {
    display: block;
}


#use-by {
    display: block;
}

#about {
    display: block;
}

.header {
    background-image: url(images/buzz-andersen-145254-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header:after {
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .65;
    z-index: 2;
}
.header .v-middle {
    z-index: 11;
}
.header .caption {
    text-align: center;
    opacity: 0.95;
    text-shadow: 1px 0 0 antiquewhite, -1px 0 0 antiquewhite, 0 1px 0 antiquewhite, 0 -1px 0 antiquewhite, .5px .5px antiquewhite, -.5px -.5px 0 antiquewhite, .5px -.5px 0 antiquewhite, -.5px .5px 0 antiquewhite;
    color: black;
    margin: 18% 18% 18% 20%;
}
.header .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header .caption h1 {
    font-weight: 200;
}
.header .caption h1 b {
    font-weight: 400;
}
}












